<h1>Questions</h1>
<table border="0">
  <tr>
    <td>Title></td>
    <td>Description</td>
    <td>Author</td>
    <td>pubdate</td>
  </tr>
<% @questions.each do |q| %>
  <tr>
    <td><%= q.title %></td>
    <td><%= q.description %></td>
    <td><%= q.author %></td>
    <td><%= q.pubdate %></td>
    <td>
    <%= link_to "edit", :action=> "modify", :id=> q%>/
    <%= link_to "del",  :aciton=> "del",    :id=> q%>
    </td>
  </tr>
<% end %>
</table>
<p><%= link_to "add new question", question_newquestion_path %></p>
    
