<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Description:</b>
  <%= @question.description %>
</p>

<p>
  <b>Author:</b>
  <%= @question.author %>
</p>

<p>
  <b>Public Date:</b>
  <%= @question.pubdate %>
</p>

<%= link_to 'Back', question_index_path %>

<h2>Answers</h2>
<%= render @question.answers %>


<h2>Add an Answer:</h2>
<%= render "answers/form" %>
<br />
